<nav class="navbar navbar-expand-sm navbar-layout">
  <img src="./assets/logo.png" class="dbs-bank-logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a [routerLink]="['/account-holder']" routerLinkActive="router-link-active" class="nav-link">
          {{'Accounts' | translate }}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/transaction']" routerLinkActive="router-link-active" class="nav-link">
          {{'Transaction' | translate }}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a [routerLink]="['/createAccount']" routerLinkActive="router-link-active" class="nav-link">
          Create Account
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div *ngFor="let language of availableLanguages">
            <a class="dropdown-item" (click)="switchLang(language)">{{ language }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>