.navbar-layout{
    background-color : #e7ba34 !important;
    color: black;
    font-size: 17px;
}

a {
    color: black
}

a:hover {
    color: white;
    text-decoration: none;   
}
.dbs-bank-logo{
    width: 108px;
}